* {
	box-sizing: border-box;
	background-color: #F4FEFF;
	text-decoration: none;
	text-transform: lowercase;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

h1 a {
	padding-left: 500px;
}

hr {
	width: 100%;
}

header {
	text-align: center;
	left: 0;
	top: 0;
	width: 100%;
	display: inline;
	clear: none;
	margin: 0 auto;
	letter-spacing: 3px;
	color: #2B7A78;
}

header:visited {
	color: inherit;
}

footer {
	text-align: center;
	left: 0;
	bottom: 0;
	width: 100%;
	position: static;
	letter-spacing: 3px;
	vertical-align: middle;
	color: #2B7A78;	
	font-size: 12px;
}

::selection {
	background-color: #DEF2F1;
}

.left {
	float: right;
	position: absolute;
	display: inline-block;
}

.right {
	float: right;
	position: relative;
	display: inline-block;
}

.topnav {
    text-align: cen----------ter;
    position: sticky;
}


.topnav input[type=text] {
    padding: 6px;
    border: none;
    margin: 0 auto;
    font-size: 17px;
    position: sticky;
}

.left {
	float: left;
	overflow: hidden;
}

.right {
	margin-left: 20%;
}

h4, .text {
	letter-spacing: 3px;
}

img {
	width: 300px;
	height: 300px;
}

div .filter {
	max-width: 20%;
	display: inline-block;
	z-index: 4;
	overflow: hidden;
}

.row .itemL,
.row .itemC,
.row .itemR,
.rows .itemL,
.rows .itemC,
.rows .itemR {
	vertical-align: top;
	float: right;
	max-width: 100%;
	padding: 50px;
	overflow: hidden;
	display: inline-block;
}

.itemR {
	margin-left: 300px;
}

.rows, .row {
	text-align: center;
	display: inline-block;
	margin-right: 0 auto;
	max-width: 100%;
	position: relative;
}

.products {
	overflow: visible;
	vertical-align: top;
	position: relative;
	bottom: 500px;
	max-width: 90%;
	float: right;
	display: inline-block;
	max-height: auto;
}

.vl {
	border-left: 2px solid black;
	height: 50%;
}

.left, .text1, .text2, .text3 {
	color: #2B7A78;
}

.buy{
	border-radius: 6px;
	padding: 16px 32px;
	text-align: center;
	font-size: 12px;
	margin: 4px 2px;
	opacity: 0.6;
	transition: 0.3s;
	display: block;
	cursor: pointer;
	background-color: #DEF2F1;
	width: 300px;
	border: 2px solid #FEFFFF;
	color: black;
}

.buy:hover {
	opacity: 1;
}