* {
	box-sizing: border-box;
	background-color: #FEFFFF;
	text-decoration: none;
	text-transform: lowercase;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

header {
	text-align: center;
	left: 0;
	top: 0;
	width: 100%;
	display: inline;
	clear: none;
	margin: 0 auto;
	letter-spacing: 3px;
	color: #2B7A78;
}

header:visited {
	color: inherit;
}

footer {
	text-align: center;
	left: 0;
	bottom: 0;
	width: 100%;
	position: static;
	letter-spacing: 3px;
	vertical-align: middle;
	color: #2B7A78;	
	font-size: 12px;
}

::selection {
	background-color: #DEF2F1;
}

.left {
	float: left;
	position: relative;
}

.right {
	float: right;
	position: relative;
}

.topnav {
    text-align: center;
    position: sticky;
}


.topnav input[type=text] {
    padding: 6px;
    border: none;
    margin-top: 8px;
    font-size: 17px;
}

.left {
	float: left;
	overflow: hidden;
}

.right {
	margin-left: 20%;
}

h4, .text {
	letter-spacing: 3px;
}

img {
	width: 300px;
	height: 300px;
}

.row .itemL, .row .itemC, .row .itemR {
	vertical-align: middle;
	float: left;
	max-width: 100%;
	padding: 50px;
	overflow: hidden;
}

.rows .itemL, .rows .itemC, .rows .itemR {
	vertical-align: middle;
	float: left;
	max-width: 100%;
	padding: 50px;
	overflow: hidden;
}


.row {
	text-align: center;
	display: inline-block;
	margin-left: 200px;
	margin-right: 0 auto;
	max-width: 100%;
}

.rows {
	text-align: center;
	display: inline;
	margin-left: 60px;
	margin-right: 0 auto;
	max-width: 100%;
	position: relative;
}

.vl {
	border-left: 2px solid black;
	height: 50%;
}

.rows img {
	margin-left: 100px;
}

.rows .text1 {
	margin-left: 100px;
}

.rows .text2 {
	margin-left: 100px;
}

.rows .text3 {
	margin-left: 100px;
}

.left, .text1, .text2, .text3 {
	color: #2B7A78;
}

.buy{
	border-radius: 6px;
	padding: 16px 32px;
	text-align: center;
	font-size: 12px;
	margin: 4px 2px;
	opacity: 0.6;
	transition: 0.3s;
	display: block;
	cursor: pointer;
	background-color: #DEF2F1;
	width: 300px;
	border: 2px solid #FEFFFF;
	color: black;
}

.buy:hover {
	opacity: 1;
}